.form {
    margin-left: 220px;
    margin-top: 60px;
    color: #f0f8ff;
}

.form .MuiTypography-root {
    color: #14ffff;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
};

.form .MuiOutlinedInput-input {
    color: #14ffff;
}

.form .MuiButton-root {
    background-color: #131b41;
    color: #14ffff;
    box-shadow: 0px 2px 2px 0px rgba(20, 255, 255, 0.50);
}

.form .grid-2 {
    margin-top: 30px;
}

.form .pitch-me {
    color: #399ca3;
    margin-top: 30px;
}

.form .p-tag .b-tag {
    color: #14ffff;
}

.form .contact-details {
    margin-top: 25px;
}

.form .contact-details .mail {
    align-items: center;
}

.form .contact-details .icon {
    height: 1.5rem;
    width: 1.5rem;
    color: #14ffff;
    margin-right: 7px;
}

.form .contact-details .email {
    color: #f0f8ff;
    font-size: 16px;
    text-decoration: none;
}