.head {
    margin-left: 225px;
    margin-top: 25px;
}

.head .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #14ffff;
}

.head .css-1aquho2-MuiTabs-indicator {
    background-color: #14ffff;
}

.head .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    color: teal;
}

.head .pgheading {
    align-self: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.2px;
}

.head p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
    font-weight: 400;
    line-height: 1.7;
    color: aliceblue;
}

.head .display-3 {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.2px;
}

.head .animation {
    margin-top: 30px;
}

.head .bcd {
    margin-top: 50px;
}

.head .btn {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}